@use "./abstracts/mixins";
@use "./abstracts/reset";
@use "./abstracts/colors";

body {
    height: 100vh;
    background: map-get(colors.$gradient-3-green-black, "background");
    overflow: hidden;
}


.main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 98%;
    height: 90vh;
    background: white;
    border-radius: 1.7%;
    z-index: 0;
    display: flex;

}

.left__section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 50%;
}


.right__section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    position: relative; /* Add this line */

  }
  
  footer{
     position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 3.5rem;
    bottom: 2rem;
    text-align: center;
    @include mixins.ubuntu-font;
  }