@use "../abstracts/mixins";
@use "../abstracts/reset";
@use "../abstracts/colors";


.title__collection {
    display: flex;
    justify-content: center;
    padding: 0.3%;
    height: 2rem;
    font-size: 1.4rem;
    position: relative;
    z-index: 1;
    @include mixins.ubuntu-font;
}
