$yellow: (
   background: #F7FD04,
);

$orange: (
    background: #F9B208,
    
);

$dark-orange: (
    background: #F98404,
);

$red: (
    background: #FC5404,
);

$gradientOrangeRed: (
    background: linear-gradient(#F9B208, #FC5404),
)